---
import "../styles/styles.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="wrapper">
			<h1>Hello, Astro!</h1>
			<p>
				This is a template branch - please create a new branch from <strong
					>main</strong
				> and begin new edits!
			</p>

			<p>This template branch comes with...</p>

			<ul>
				<li><strong>sass </strong>: for css preprocessing.</li>
				<li><strong>prettier</strong>: for general formatting.</li>
				<li><strong>astro icons</strong>: for svg components.</li>
			</ul>
		</div>
	</body>
</html>
