---
import BaseLayout from "./BaseLayout.astro";
console.log(Astro.props);
const { frontmatter } = Astro.props;

const { title, content } = frontmatter;
---

<BaseLayout title={`Blog - ${title}`}>
	<div class="wrapper">
		<slot />
	</div>
</BaseLayout>
